{% extends 'analyse_risques/main.html' %}

{%  load static %}

{% block content %}

<div class="container-fluid">
<!-- Page Heading --> 

        <!-- page content -->
        <div class="card shadow mb-4 mt-4">
          <div class="card-body mt-3">
              <div class="planification-menu d-flex justify-content-start mb-2">
                <a class="btn btn-light btn-sm ml-1" href= "" id="btn_planing"><i class="fas fa-calendar"></i> Cartographie des actifs</a>
                <a class="btn btn-light btn-sm ml-1" href="" id="btn_notification"><i class="fas fa-envelope-open-text"></i> Evaluation des vulnérabilités</a>
                <a class="btn btn-light btn-sm ml-1" href=" " id="btn_depense"><i class="fas fa-tachometer-alt"></i> Dashboard des vulnérablités</a> 
              </div> 
              <hr>  
              <div id="table_recette" class="content-table"> 

                <button type="button" href="" class="btn btn-info text-white btn-sm mr-2 mb-2" data-toggle="modal" data-target="#modalDepense">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un actif
                </button>

                <form method="post" class="modal fade" id="modalDepense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                          <div class="modal-header justify-content-center">
                          <h5 class="modal-title modal-title-custom">
                            Identification des actifs
                          </h5> 
                          </div>
                          <div class="modal-body"> 
                            {% csrf_token %}
                            <div class="row">
                                <div class="form-group col-md-12"> 
                                    <label for="{{ form.actif.id_for_label }}">Type d'actif</label>
                                    {{ form.actif }}
                                </div>
                                <div class="form-group col-md-12"> 
                                    <label for="{{ form.description.id_for_label }}">Description</label>
                                    {{ form.description }}
                                </div>
                                <div class="form-group col-md-6"> 
                                    <label for="{{ form.valeur_unitaire_actif.id_for_label }}">Valeur unitaire</label>
                                    {{ form.valeur_unitaire_actif }}
                                </div>
                                <div class="form-group col-md-6"> 
                                    <label for="{{ form.cout_installation.id_for_label }}">Coût d'installation</label>
                                    {{ form.cout_installation }}
                                </div>
                                <div class="form-group col-md-4"> 
                                    <label for="{{ form.cout_entretien.id_for_label }}">Coût d'entretien</label>
                                    {{ form.cout_entretien }}
                                </div>
                                <div class="form-group col-md-4"> 
                                    <label for="{{ form.va.id_for_label }}">Valeur de l'actif</label>
                                    {{ form.va }}
                                </div>
                                <div class="form-group col-md-4"> 
                                    <label for="{{ form.valeur_indisponibiliteid_for_label }}">Valeur indisponibilité</label>
                                    {{ form.valeur_indisponibilite }}
                                </div>
                            </div>
                            <input type="hidden" name="new_depense" value="1">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button> 
                            <button type="submit" class="btn btn-success">Valider</button> 
                          </div>
                      </div>
                      </div>
                  </form>

                <table class="table table-striped" id="dataTable_recette" width="100%"  >
                    <thead>
                        <tr>
                            <th>Actif</th>
                            <th>Description</th>
                            <th>Valeur unitaire</th> 
                            <th>Coût de l'installation</th>
                            <th>Coût d'entretien</th>
                            <th>VA</th> 
                            <th>Valeur de l'indisponibilité</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {% for actif in actifs %}
                            <tr>
                                <td>{{ actif.actif }}</td>
                                <td>{{ actif.description }}</td>
                                <td>{{ actif.valeur_unitaire_actif }} FCFA</td>
                                <td>{{ actif.cout_installation }} FCFA</td>
                                <td>{{ actif.cout_entretien }} FCFA</td>
                                <td>{{ actif.va }} FCFA</td>
                                <td>{{ actif.valeur_indisponibilite }} FCFA</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div> 
        </div>
        </div> 
        <div class="card shadow mb-4 mt-4"> 
        </div>
    
</div>
{% endblock %}
