<!DOCTYPE html>
<html>
<head>
    <title>KIVIAT DIAGRAM</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h1>KIVIAT DIAGRAM</h1>
<div>
    <label for="variable1">Variable 1:</label>
    <input type="number" id="variable1" value="1"><br><br>
    <label for="variable2">Variable 2:</label>
    <input type="number" id="variable2" value="2"><br><br>
    <label for="variable3">Variable 3:</label>
    <input type="number" id="variable3" value="3"><br><br>
    <label for="variable4">Variable 4:</label>
    <input type="number" id="variable4" value="4"><br><br>
    <label for="variable5">Variable 5:</label>
    <input type="number" id="variable5" value="5"><br><br>
    <button onclick="calculateRisk()">AFFICHER LE DIAGRAMME</button>
    <canvas id="kiviatChart" width="20" height="20"></canvas>
</div>
<script src="Diagram.js"></script>
</body>
</html>